:root{
	--width: 300px;
}

.calculatorGrid{
	display: grid;
	align-self: center;
	/* grid-template-rows: auto auto auto auto auto auto; */
	width: var(--width);
	margin: 0px auto;
	min-height: 60px;
}

.darkGreen{
	margin-top: 10px;
	background-color: rgb(44, 70, 70);
	
}

.previousOperand{
	text-align: right;
	font-size: 14px;
	color: white;
}

.output{
	text-align: right;
	font-size: 25px;
	color: white;
}

.blocks{
	background-color: aquamarine;
	margin: 5px;
	height: calc(var(--width)/4);
}

.column11{
	grid-column: auto / span 1;
}
.column12{
	grid-column: auto / span 2;
}

.fullBlock{
	/* margin-bottom: 5px; */
}

.buttonGrid{
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.blocks:hover{
	background-color: rgba(211, 206, 206, 10);
}
.center{
	text-align: center;
	line-height: calc(var(--width)/4);
}

.left{
	margin-left: 0px;
}

.right{
	margin-right: 0px;
}